[project]
	description = A starter project for using BDD in various development scenarios
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pjsamuel3
[access "refs/for/refs/*"]
	read = group user/pjsamuel3
	push = group user/pjsamuel3
	label-Code-Review = -2..+2 group user/pjsamuel3
	label-Verified = -1..+1 group user/pjsamuel3
	rebase = group user/pjsamuel3
	removeReviewer = group user/pjsamuel3
	submit = group user/pjsamuel3
[access "refs/heads/*"]
	read = group user/pjsamuel3
	create = group user/pjsamuel3
	push = +force group user/pjsamuel3
	pushMerge = group user/pjsamuel3
[access "refs/tags/*"]
	push = +force group user/pjsamuel3
	pushTag = group user/pjsamuel3
	pushSignedTag = group user/pjsamuel3
